.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

molecubes_code/.pio
molecubes_code/.vscode/.browse.c_cpp.db*
molecubes_code/.vscode/c_cpp_properties.json
molecubes_code/.vscode/launch.json
molecubes_code/.vscode/ipch

cinematics/.pio
cinematics/.vscode/.browse.c_cpp.db*
cinematics/.vscode/c_cpp_properties.json
cinematics/.vscode/launch.json
cinematics/.vscode/ipch

master/.pio
master/.vscode/.browse.c_cpp.db*
master/.vscode/c_cpp_properties.json
master/.vscode/launch.json
master/.vscode/ipch